@use "../../breakpoints.scss" as *;
@use "../../theme.scss" as theme;

.portfolio-page {
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  color: theme.$text;
  padding: 5% 20% 5%;

  @include xl {
    padding: 5% 10% 5%;
  }

  @include lg {
    padding: 5% 1% 5%;  
  }

  @include md {
    padding: 5% 2% 5%;
  }

  @include sm {
    padding: 5% 1% 5%;
  }

  @include xs {
    padding: 5% 0.5% 5%;
  }

    .heading {
    text-align: center;
    font-weight: 800;
    font-size: 7rem;
    color: theme.$quaternary-color;           /* text fill color */
    margin: auto auto 200px;

    /* Very thin outline using text-shadow */
    text-shadow:
        0 0 10px theme.$primary-color,
        0 0 10px theme.$primary-color,
        0 0 10px theme.$primary-color;

    /* optional subtle depth */
    /* text-shadow: 0 0 0.5px white, 1px 1px 1px rgba(0,0,0,0.2); */
}




  a {
    color: theme.$primary-color;

    @include lg {
      font-size: 3rem;
      font-weight: 100;
    }
  }

  li {
    margin-right: 70px;
  }
}
