@use "./breakpoints.scss";

// src/styles/_theme.scss

// Primary Colors
$primary-color: #37353E;
$secondary-color: #715A5A;
$tertiary-color: #44444E;
$quaternary-color: #D3DAD9;
$accent-color: #7ca2f3;

// Text Colors
$hello: white;
$bottom: #666666;

// Background Colors
$text: #ffffff;
$background-alt: #f5f5f5;

// Other
$border-color: #dddddd;
$hover-color: lighten($primary-color, 10%);
